<template>
    <div>
        <h3> Users </h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">Name</th>

            </tr>
            </thead>
            <tbody>
            <tr v-for="user in users" >
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.email }}</td>
                <td>{{ user.name }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        data() {
            return{
                users:[]
            }
        },
        mounted() {
            var app = this;
            axios.get('/user/allusers')
                .then(function (res) {
                        app.users = res.data;
                        console.log(res.data);
                    }
                )
        },
        methods:{
        }
    }
</script>
