<template>
    <div  class="container" >
        <form action="/user/profile" method="post"  >
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" name="email" placeholder="Email">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Password</label>
                    <input type="password" class="form-control" id="inputPassword4" name="password" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <label for="inputName">Name</label>
                <input type="text" class="form-control" id="inputName" name="name" placeholder="1234 Main St">
            </div>

            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
    </div>
</template>

<script>
    export default {
        name: "login"
    }
</script>
