<template>
    <div>
        <h3> Form Url </h3>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Update Row
        </button>
        <!-- Modal -->
        <modal-update :data="results[update] || {}" @change="updateRow"></modal-update>

        <table class="table table-hover ">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Origin</th>
                <th scope="col">Cut</th>
                <th scope="col">Created</th>
                <th scope="col">Updated</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(result, index) in results" :key="result.id" >
                <th scope="row">{{result.id}}</th>
                <td>{{result.origin_url}}</td>
                <td>{{result.cut_url}}</td>
                <td>{{result.created_at}}</td>
                <td>{{result.updated_at}}</td>
                <td>
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" v-on:click="deleteRow(result.id)">Delete</a>
                            <a class="dropdown-item" data-toggle="modal" v-on:click="update = index" data-target="#updateModel" >Update</a>
                            <a class="dropdown-item" data-toggle="model" data-target="#createModal">Create new row</a>
                        </div>
                    </div>

                </td>
            </tr>

            </tbody>
        </table>
    </div>
</template>

<script>
    import ModalUpdate from "./Modals/Update";
    export default {
        components: {ModalUpdate},
        data: function(){
            return{
                results:[],
                user_id:[],
                update: 0,
                create:{
                    origin_url:[]
                },
                showStatus:true,
                deleteStatus:[],
            }
        },
        mounted(){
            var app = this;
            axios.get('user/get-user')
                .then(function (res) {
                    app.user_id = res.data.id;
                    axios.get('url/get', {
                        params: {
                            user_id : res.data.id
                        }
                    })
                        .then(function (res) {
                                app.results = res.data;
                            }
                        )
                    }
                );
        },
        methods:{
            selectRow(element){
                console.log(element);
                this.update = element;
            },
            updateRow(data){
                this.results[this.update] = Object.assign(this.results[this.update], data)
                console.log(this.results, data)
                axios.put('url', this.results[this.update])
                    .then(function(res) {
                        console.log(res);
                    });
            },
            deleteRow(id){
                var app = this;
                axios.delete('url', id)
                    .then(function (res) {
                        app.deleteStatus = true;
                    })
                    .catch(function (res) {
                        app.deleteStatus = false;
                    });
            },
            createRow(data){
                axios.post('url',data)
                    .then(function (res) {
                        console.log(res.data);
                        alert('Запись успешно создана');
                    })
                    .catch(function (res) {
                        console.log(res.data);
                        alert(res.data.massage);
                    });
            }

        },
    }
</script>

<style scoped>
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 300px;
        margin: 0px auto;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: Helvetica, Arial, sans-serif;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-default-button {
        float: right;
    }

    /*
     * The following styles are auto-applied to elements with
     * transition="modal" when their visibility is toggled
     * by Vue.js.
     *
     * You can easily play with the modal transition by editing
     * these styles.
     */

    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
</style>