<template>
    <div class="modal fade" id="updateModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Origin</th>
                            <th scope="col">Cut</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr >
                            <th scope="row">{{data.id}}</th>
                            <td><input type="text" ref="origin_url" :value="data.origin_url" /></td>
                            <td><input type="text" ref="cut_url" :value="data.cut_url" /></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="updateRow">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "modal-update",
        model: {
            prop: 'data',
            event: 'change'
        },
        props: {
            data: Object
        },
        methods: {
            updateRow () {
                this.$emit('change', {
                    origin_url: this.$refs.origin_url.value,
                    cut_url: this.$refs.cut_url.value
                })
            }
        }
    }
</script>

<style scoped>

</style>